SVM classifer using

In [20]:
# data load & manipulation
import numpy as np
import pandas as pd
# Standardise the data
from sklearn.preprocessing import StandardScaler 
#  Split the train & test data
from sklearn.model_selection import train_test_split
# ML model
from sklearn import svm
# Model Evaluation
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [21]:
from google.colab import drive
drive.mount("/content/gdrive")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

PIMIA Diabetes dataset is used

In [22]:
#  load dataset & Convert it to PD 
dataset = pd.read_csv('/content/gdrive/MyDrive/ML-dataset/Project-2 - dataset/diabetes.csv',)

In [23]:
# pd.read_csv?  this is for the documentation of the function

In [24]:
dataset.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [25]:
dataset.shape

(768, 9)

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [27]:
dataset.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [28]:
dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [29]:
dataset['Outcome'].count()

768

In [30]:
dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [33]:
# seperate Data[0-58] and Labels[""]
X = dataset.drop(columns='Outcome',axis=1) 
Y = dataset['Outcome']

**Normalize the data or standerdize the data**

In [34]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [35]:
std_data = scaler.transform(X)

In [36]:
print(std_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [37]:
X = std_data

Train / Test ?Split

In [40]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size = .2,stratify= Y, random_state=2)

In [41]:
print(X.shape,X_train.shape,X_test.shape)

(768, 8) (614, 8) (154, 8)

In [50]:
model = svm.SVC(kernel="linear")

In [51]:
model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [52]:
X_train_pred = model.predict(X_train)
train_accuracy = accuracy_score(X_train_pred,y_train)
print('accuracy:',train_accuracy)

accuracy: 0.7866449511400652

In [53]:
confusion_matrix(y_train, X_train_pred)

array([[357,  43],
       [ 88, 126]])

In [54]:
X_test_pred = model.predict(X_test)
test_accuracy = accuracy_score(X_test_pred,y_test)
print('accuracy:',test_accuracy)

accuracy: 0.7727272727272727

In [63]:
# Making a predictive system

input_data= (1,97,66,15,140,23.2,0.487,22,)
# Change data to np array
input_data_np = np.asanyarray(input_data)
#  reshape to np array caz we are using 1 instance
input_data_resape= input_data_np.reshape(1,-1)
std_data = scaler.transform(input_data_resape)
prediction = model.predict(std_data)
print(prediction)
if(prediction[0]== 1):
  print('Diabetes')
else:
  print('Not Diabetes')

[0]
Not Diabetes